In [29]:
# Task--> Scrap the Academy Award Page in Wikipedia and Scrape the Production Houses Record Table
from urllib.request import urlopen
webpage="https://en.wikipedia.org/wiki/Academy_Award_for_Best_Picture"
oscar_webpage=urlopen(webpage)
type(oscar_webpage)
oscar_html=oscar_webpage.read()
oscar_webpage.close()

In [104]:
from bs4 import BeautifulSoup as soup
oscar_data=soup(oscar_html,"html.parser")
oscar_data.h1
#print(oscar_data.prettify())      Makes teh html readable

In [53]:
tables=oscar_data.findAll('table',{}) #Now we are scrapping all the tables
print(len(tables))

22

In [105]:
#print(tables[15].prettify())  This is our table.

In [75]:
our_table=tables[15] #This is the table we need to work on.
#Usually we would use tables.findAll('table',{'class:'name'}) to scrape the desired table but here
#the class name is multi worded and so this method didn't work so I had to find our table manually :(
column_heading=our_table.findAll('th',{})  #First row of our table has all the column headings
print(column_heading)

[<th scope="col">Production Company
</th>, <th scope="col">Nominations
</th>, <th scope="col">Wins
</th>]

In [107]:
cols=[x.text[:-1] for x in column_heading] #Scrapping all the headings in a list as text
print(cols)

['Production Company', 'Nominations', 'Wins']

In [108]:
row_data=our_table.findAll('tr')[1:] #Scapres all the row data from the table
#print(row_data)

In [92]:
final_row_data=[] # Stores all the row data as a list

for x in row_data: 
    current_row=[] #Stores data of current row
    c_row=x.findAll('td')
    for data in c_row:
        current_row.append(data.text[:-1])#Now stores all the data of current row one by one in the 
    #current_row list and finally after one complete iteration inner loop,stores current_row data in 
    #final_row
    final_row_data.append(current_row)#Each row is stored as a list in this list
print(final_row_data)

[['20th Century Studios', '62', '9'], ['Columbia Pictures', '56', '12'], ['Metro-Goldwyn-Mayer', '40', '9'], ['Universal Pictures', '34', '9'], ['Warner Bros. Pictures', '25', '9'], ['Paramount Pictures', '20', '11'], ['Searchlight Pictures', '19', '5'], ['Miramax Films', '15', '4'], ['DreamWorks', '13', '4'], ['RKO Pictures', '11', '1'], ['Focus Features', '10', '0'], ['Plan B Entertainment', '8', '3'], ['Samuel Goldwyn Productions', '8', '1'], ['Orion Pictures', '6', '4'], ['Touchstone Pictures', '6', '0'], ['The Weinstein Company', '6', '2'], ['Selznick International Pictures', '5', '2'], ['Annapurna Pictures', '5', '0'], ['Netflix', '5', '0'], ['A24', '4', '1'], ['Walt Disney Pictures', '4', '0'], ['J. Arthur Rank-Two Cities Films', '3', '1'], ['New Line Cinema', '3', '1'], ['Cosmopolitan', '3', '0'], ['Amazon Studios', '2', '0'], ['Pixar Animation Studios', '2', '0'], ['Hollywood Pictures', '2', '0'], ['The Caddo Company', '2', '0'], ['Walter Wanger (production company)', '2', '0'], ['Mercury', '2', '0']]

In [96]:
file="movie_productions_records.csv"#CSV file which will store our data
with open(file,"w",encoding="utf-8") as f:
    col_name_string=','.join(cols)#Storing column name and seprating each column by ,
    col_name_string+="\n"  #So that the pointer is on the next line
    f.write(col_name_string)#Storing col names in our file
    
    for x in final_row_data:#For each row
        row_name_string=','.join(x)#Store each row with items in a row seprated by ,
        row_name_string+="\n"#New row comes in next line
        f.write(row_name_string)#Storing rows one by one in the file

In [109]:
import pandas as pd
data_frame=pd.read_csv(file) #Each row is treated as a data frame by Pandas
data_frame.head(n=40)# .head() prints the row of the table

      Production Company  Nominations  Wins
0   20th Century Studios           62     9
1      Columbia Pictures           56    12
2    Metro-Goldwyn-Mayer           40     9
3     Universal Pictures           34     9
4  Warner Bros. Pictures           25     9